{% extends 'base.html.twig' %}

{% block title %} Home {% endblock %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
{% endblock %}

{% block body %}
    <body>
        <h1>Hello World!</h1>
    </body>
{% endblock %}
